

.header-wrap {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 40px;
    

    
    .li-wrap {
        width: 355px;
        display: flex;
        justify-content: space-around;

        li {
    
            font-family: 'Merienda';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 17px;
            color: #FFFFFF;
            

            .link {
                color: white;
            }
        }
        
        
    }
}
